:root {
    font-family: 'Times New Roman', serif;
}

body {
    letter-spacing: 0.065em;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    line-break: normal;
    background-color: white;
    width: 80%;
    padding-left: 10%;
}

body * {
    height: auto;
}

h1 + ul {

    justify-content: space-between;
    list-style: none;

    padding-left: 2em;

}

h1::after, h2::after, h3::after {

    width: fit-content;
    padding-bottom: 0.125em;
    float: left;
    border-bottom: 1px solid black;

}

a {
    color: rgb(117, 61, 105);
    text-decoration: none;
}
a:hover {
    color: rgb(140, 100, 150);
    text-decoration:underline;
}

p {

    letter-spacing: 0.075em;
    padding-left: 2em;

}

p, h2 + ul {

    padding-left: 1em;

}

@media only screen and (max-width: 500px) {
    
    h1 + ul {
        display: block;
    }

}
@media only screen and (min-width: 500px) {
    
    h1 + ul {
        display: flex;
        width: calc(300px + 20%);
    }

}
