body {
    font-family: 'Times New Roman', serif;

    display: block;
    position: absolute;

    left: 0px;
    top: 0px;
    
    width: 80%;
    padding-left: 10%;

    background-color: white;

    line-height: 1.625em;
    line-break: normal;
    text-align: justify;
}

body * {
    height: auto;
}

h1 + ul {

    justify-content: space-between;
    list-style: none;

    font-weight: 600;

}

ul li {

    letter-spacing: 0.0725em;

}

h1, h2, h3 {

    letter-spacing: 0.0825em;
    padding-bottom: 0.125em;
    border-bottom: 1px solid black;

}

a {
    color: rgb(117, 61, 105);
    text-decoration: none;
}
a:hover {
    color: rgb(140, 100, 150);
    text-decoration:underline;
}

p {

    letter-spacing: 0.075em;
    font-size: 1.0325em;

}

@media (orientation: portrait) {
    
    h1 + ul {
        display: block;
    }

    img {

        width: 100%;
    
    }

}
@media (orientation: landscape) {
    
    h1 + ul {
        display: flex;
        width: calc(300px + 20%);
        padding-left: 2em;
    }

    p + ul {

        padding-left: 1em;
    
    }

    p {

        padding-left: 1em;
        padding-right: 1em;

    }

    img {

        width: calc(185px + 20%);

    }

    img + p {

        
        width: calc(155px + 20%);
        margin-left: 15px;
        border-left: 1px solid black;
        
    }

}