:root {
    font-family: 'Times New Roman', serif;
}

body {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    line-break: normal;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    line-height: 1.625em;
}

body * {
    height: auto;
}

h1 + ul {

    justify-content: space-between;
    list-style: none;

    padding-left: 2em;
    font-weight: 600;

}

ul li {

    letter-spacing: 0.0725em;

}

h1, h2, h3 {

    letter-spacing: 0.0825em;
    padding-bottom: 0.125em;
    border-bottom: 1px solid black;

}

a {
    color: rgb(117, 61, 105);
    text-decoration: none;
}
a:hover {
    color: rgb(140, 100, 150);
    text-decoration:underline;
}

p {

    letter-spacing: 0.075em;
    font-size: 1.0325em;
    padding-left: 2em;

}

p + ul {

    padding-left: 2em;

}

@media only screen and (max-width: 500px) {
    
    h1 + ul {
        display: block;
    }

}
@media only screen and (min-width: 500px) {
    
    h1 + ul {
        display: flex;
        width: calc(300px + 20%);
    }

}